.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinea el contenido en la parte superior */
    height: 72vh; /* Ocupa toda la altura de la ventana */
}

.table-container {
    overflow-x: auto;
    max-width: 100%; /* Ajusta este valor según tus necesidades */
}