<footer class="footer">
    <nav class="navbar navbar-expand-lg navbar-custom-bg">
        <div class="container">
            <div class="navbar-text custom-footer-text" style="margin-right: 20px;">
                "Tu salud, nuestro compromiso"
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <p class="custom-footer-text mb-0">Copyright &copy; {{ currentYear }} Galenos</p>
                </ul>
            </div>
            <div class="social-icons"> Síguenos en:
                <a class="navbar-brand" href="#" style="margin-right: 9px;" data-toggle="tooltip" data-placement="bottom" title="Facebook">
                    <img src="assets/img/facebook.png" alt="Facebook" style="width:40px;" class="rounded-pill">
                </a>
                <a class="navbar-brand" href="#" style="margin-right: 9px;" data-toggle="tooltip" data-placement="bottom" title="Instagram">
                    <img src="assets/img/insta.png" alt="Instagram" style="width:40px;" class="rounded-pill">
                </a>
                <a class="navbar-brand" href="#" style="margin-right: 9px;" data-toggle="tooltip" data-placement="bottom" title="Whatsapp">
                    <img src="assets/img/whatsapp_icon.png" alt="Whatsapp" style="width:40px;" class="rounded-pill">
                </a>
            </div>
        </div>
    </nav>
</footer>