<app-header></app-header>
<br>
<div class="container custom-container-2 mt-5">
    <!-- Show it when there is no employee -->
    <div class="no-data text-center" *ngIf="paciente.length == 0">
      <p>Cargando pacientes</p>
    </div>
    <!-- Employees list table, it hides when there is no employee -->
    <div *ngIf="paciente.length !== 0">
      <h3 class="mb-3 text-center">Lista Pacientes</h3>
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Rut</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido Paterno</th>
              <th scope="col">Apellido Materno</th>
              <th scope="col">Correo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of paciente">
              <td>{{ row.run_paciente }}</td>
              <td>{{ row.nombres }}</td>
              <td>{{ row.ape_paterno }}</td>
              <td>{{ row.ape_materno }}</td>
              <td>{{ row.correo }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="place-items: center">
      <button class="btn btn-outline-primary" routerLink="/crear-paciente">
        Agregar Paciente
      </button>
    </div>
    
  </div>
