.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinea el contenido en la parte superior */
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

.login-form {
    background: #fff;
    border: 2px solid #007BFF; /* Borde azul */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}