<app-header></app-header>
<body>
<div style="height: 40%;">
    <h1 align="center" style="color: rgb(3, 3, 82);"> <FONT FACE="arial black">Centro Médico Galenos </FONT>  </h1> 
    <div id="demo" class="carousel slide" data-bs-ride="carousel"> 
    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>  
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        
    </div>
    <!-- The slideshow/carousel -->
    <div class="carousel-inner"  style="position: relative;">
        <div class="carousel-item active">
        <img src="assets/img/tusalud.png" alt="tusalud" class="d-block w-100" height="500vh" >
        <div class="carousel-caption"  style="position: absolute; top: 0; left: 0; right: 0;">
    <h3> ¡Ven y Agenda tu hora Médica!"</h3>
    </div>
        </div>
        <div class="carousel-item" style="position: relative;">
            <img src="assets/img/nopostergues.jpg" alt="nopostergues" class="d-block w-100" height="500vh">
            <div class="carousel-caption" style="position: absolute; top: 0; left: 0; right: 0;">
            <h3 style="color: rgb(3, 3, 82);">¡Deja tu Salud en Nuestras Manos!</h3>
            </div>
        </div>
        <div class="carousel-item" style="position: relative;">
        <img src="assets/img/electrocardiograma.jpg" alt="New final_fantasy" class="d-block w-100" height="500vh">
        <div class="carousel-caption" style="position: absolute; top: 0; left: 0; right: 0;">
    <h3>¡Porque eres importante para Nosotros!</h3>
    </div>
        </div>
    </div>
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
    </div>
</div>
</body>
<br>
<app-footer></app-footer>
