<app-header></app-header>
<br>
<div class="container custom-container-2 mt-5">
    <!-- Show it when there is no paciente -->
    <div class="no-data text-center" *ngIf="medico.length == 0">
    <p>Cargando Mèdicos</p>
    </div>
    <!-- Employees list table, it hides when there is no paciente -->
    <div *ngIf="medico.length !== 0">
    <h3 class="mb-3 text-center">Lista Mèdicos</h3>
    <div class="col-md-12">
        <table class="table table-bordered">
        <thead>
            <tr>
            <th scope="col">Rut</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Apellido Materno</th>
            <th scope="col">Correo</th>
            <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let medico of medico">
            <td>{{ medico.run_medico }}</td>
            <td>{{ medico.nombres }}</td>
            <td>{{ medico.ape_paterno }}</td>
            <td>{{ medico.ape_materno }}</td>
            <td>{{ medico.correo }}</td>
            <td>
                <button (click)="modificarMedico(medico)" class="btn btn-primary">Modificar</button>
            </td>
            <td>
                <button (click)="disponibilidadMedico(medico)" class="btn btn-primary">Agregar Disponibilidad</button>
            </td>
            </tr>
        </tbody>
        </table>
    </div>
    </div>
    <div class="text-center">
        <button (click)="agregarMedico()" class="btn btn-primary">Agregar Médico</button>
    </div>
</div>
<br>
<app-footer> </app-footer>
